html,
body {
  width: 100%;
  height: 100%;
  position: absolute;
}

.hd {
  display: block;
}

.hd img {
  display: none;
}

.footer-bottom-higher {
  display: flex;
  background-color: blacK;
  width: 100%;
  height: 100px;
}

.footer-bottom-higher p {
  margin: 20px auto;
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.85em;
  text-decoration: none;
  color: white;
  align-self: center;
}

.footer-bottom-mob {
  display: none;
}

#hdLine1 {
  background-color: #131313;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

#hdLine2 {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.hdLine1-left {
  display: flex;
  flex-direction: row;
  justify-self: flex-start;
  list-style: none;
  padding: 5px 10px;
  background-color: inherit;
}

.hdLine1-left li {
  padding: 0 5px;
}

.hdLine2-right a {
  transform: rotate(90deg);
}

.bckg a {
  text-decoration: none;
  color: black;
}

.txt-wrap span {
  color: white;
  text-decoration: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.popular a {
  font-size: 18px;
  text-decoration: none;
}

.latest-line a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  color: #fb4427;
  text-decoration: none;
  padding-bottom: 10px;
}

.latestnewsHd1 a {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
}

.span-wrap a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.85em;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  margin: 0 20px;
}

.popular a,
.popular h6 {
  color: white;
}

.hdLine1-left li a,
.hdLine1-right li a {
  text-decoration: none;
  color: rgb(173, 170, 170);
}

.hdLine2-left li a,
.hdLine2-right li a {
  text-decoration: none;
  color: rgb(143, 142, 142);
  text-transform: uppercase;
  font-size: 0.85em;
  font-weight: 800;
}

.infoListed li a {
  text-decoration: none;
  font-size: 17px;
  color: gray;
}

.news h3 a {
  margin-bottom: 10px;
  text-decoration: none;
  color: black;
}

.md-line span,
.baseline {
  color: grey;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.85em;
  padding-left: 10px;
}

.popular span {
  font-size: 10px;
  color: gray;
  color: white;
}

.news p span {
  margin-bottom: 10px;
  text-decoration: line-through;
  font-size: 15px;
  margin-right: 5px;
  color: grey;
}

.hdLine1-left li a:hover,
.hdLine1-right li a:hover,
.business_opt li a:hover {
  color: white;
}

.hdLine2-left {
  display: flex;
  flex-direction: row;
  justify-self: flex-start;
  list-style: none;
  padding: 15px 10px;
}

.mob_menu {
  display: none;
}

.business_li {
  position: relative;
  display: inline-block;
}

.hdLine2-right {
  justify-self: flex-end;
  list-style: none;
  background-color: inherit;
  padding: 10px 10px;
  align-items: center;
  border-left: 1px solid rgb(44, 43, 43);
  align-self: stretch;
}

.bckg {
  background-color: white;
  color: black;
}

#hdLine3 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  width: 100%;
  height: 40px;
  background: #fede58;
}

.news h3,
.news p {
  margin: 5px 0;
}

.baseline {
  background-color: #fffaf8;
}

.md-line span:hover,
.baseline:hover {
  color: black;
  text-decoration: underline;
}

.news h3 a:hover {
  color: red;
  text-decoration: underline;
}

#hdLine3 a {
  text-decoration: none;
  color: black;
  margin: 10px;
  font-size: 1em;
  font-weight: 1000px;
  align-content: center;
}

#hdLine3 a span {
  padding: 10px 5px;
}

.bellow-head {
  display: grid;
  box-sizing: border-box;
  grid-template-columns: 69% 29%;
  column-gap: 10px;
  width: 99%;
  height: 500px;
  margin: 0 1% 0 1%;
  min-width: 1000px;
  margin-top: 100px;
}

.videobox {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  background-image: url(https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/img/cover-gradient.png), url(https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/img/image-gradient.png), url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/07/Zoom-trash-hed-v2-796x419.jpg);
  background-repeat: no-repeat;
  opacity: 100%;
  background-size: 100% 100%;
}

.aside .videobox2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/04/1-796x417.jpg);
  background-repeat: no-repeat;
  opacity: 100%;
  background-size: 100% 100%;
}

.aside .videobox3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/04/anxiety-working-from-home-516x270.png);
  background-repeat: no-repeat;
  opacity: 100%;
  background-size: 100% 100%;
}

.img-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 50%;
}

.latestInfo img {
  width: 80px;
  height: auto;
}

.latestInfoSec h3 {
  font-size: 15px;
  font-weight: bold;
}

.img-wrap a img {
  width: 150%;
  align-self: flex-start;
  opacity: 100%;
  margin-left: 20px;
}

.img-wrap h4 {
  display: flex;
  flex-direction: row;
  width: 50%;
  align-self: flex-start;
  justify-content: flex-end;
  margin-right: 10px;
  opacity: 100%;
  color: white;
  text-decoration: none;
}

.txt-wrap {
  display: flex;
  flex-direction: column;
  width: 70%;
  justify-content: space-between;
  opacity: 100%;
  margin-left: 10px;
}

.txt-wrap .h2 {
  width: 80%;
  font-family: avalon, sans-serif;
  font-size: 2em;
  font-weight: bold;
  color: whitesmoke;
  text-decoration: none;
}

.txt-wrap div {
  color: white;
  text-decoration: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.aside {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 49% 49%;
  row-gap: 10px;
}

.latestNews {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 50px repeat(2, 1fr);
  width: 60%;
  min-width: 900px;
  margin: 20px auto;
  grid-gap: 20px;
  grid-row-gap: 0;
}

.latestNews:first-child {
  grid-row-gap: 0;
}

.latestNews .latestnewsHd {
  grid-column: span 4;
  align-items: center;
}

.news {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.latestnewsHd h3:hover {
  color: black;
}

.latestnewsHd img:hover {
  color: black;
}

.newsImg {
  width: 100%;
  height: 150px;
  margin: 10px 0;
}

.moreInfo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 60%;
  min-width: 900px;
  margin: 20px auto;
  grid-gap: 20px;
}

.imageInfo {
  width: 100%;
  background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), rgba(255, 0, 0, 0), black), url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/03/dimitri-karastelev-0hO1QgI1H8g-unsplash-368x276.jpg);
  background-repeat: no-repeat;
  background-size: 100% 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.popular h6 {
  font-size: 10px;
}

.latestInfo {
  display: flex;
  flex-direction: row;
  background-color: #fff4f2;
}

.latestInfoSec {
  margin: 10px 20px 20px 10px;
}

.infoListed li {
  padding: 5px 0;
  border-bottom: 1px solid grey;
}

.latest {
  display: block;
  width: 60%;
  min-width: 900px;
  margin: auto auto;
}

.latest-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 100%;
  margin: 40px auto 0 auto;
}

.latest-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 0;
}

.box {
  display: grid;
  width: 100%;
  grid-template-rows: 1fr 1fr 1fr;
}

.lastBox {
  display: grid;
  width: 100%;
  grid-template-rows: 1fr 1fr 1fr;
}

.md-line {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-bottom: 2px solid #fec6bd;
  text-decoration: none;
}

.top-box {
  display: flex;
  flex-direction: row;
  z-index: -1;
  text-decoration: none;
}

.top-box .top-cols .white {
  display: flex;
  flex-direction: column;
  background: #ffe9e5;
  padding-left: 0;
  margin-left: 0;
  width: 100%;
  align-items: center;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-decoration: none;
}

.latestNews .latestnewsHd1 {
  grid-column: span 4;
  align-items: center;
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #131313;
  margin: 0;
  padding: 50px auto;
}

.footer-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 50px auto;
}

.hdl1 {
  display: none;
}
