    * {
        box-sizing: border-box;
        margin: 0;
    }
    
    .hd {
        display: block;
    }
    
    #hdLine1 {
        background-color: #131313;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        /* border: 1px solid red; */
    }
    
    #hdLine2 {
        background-color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        /* border: 1px solid red; */
        align-items: center;
    }
    
    .hdLine1-left {
        display: flex;
        flex-direction: row;
        justify-self: flex-start;
        list-style: none;
        padding: 5px 10px;
        background-color: inherit;
    }
    
    .hdLine1-left li {
        padding: 0 5px;
    }
    
    .hdLine1-left li a,
    .hdLine1-right li a {
        text-decoration: none;
        color: rgb(173, 170, 170);
    }
    
    .hdLine1-left li a:hover,
    .hdLine1-right li a:hover,
    .business_opt li a:hover {
        /* text-decoration: none; */
        color: white;
    }
    
    .hdLine1-right li {
        padding: 0 5px;
    }
    
    .hdLine1-right:last-child {
        padding-right: 10px;
    }
    
    .hdLine2-left {
        display: flex;
        flex-direction: row;
        justify-self: flex-start;
        list-style: none;
        padding: 15px 10px;
    }
    
    .hdLine2-left li {
        padding: 0 5px;
    }
    
    .hdLine2-left li a,
    .hdLine2-right li a {
        text-decoration: none;
        color: rgb(143, 142, 142);
        text-transform: uppercase;
        font-size: 0.85em;
        font-weight: 800;
    }
    
    .hdLine2-left li a:hover,
    .hdLine2-right li a:hover {
        /* text-decoration: none; */
        color: rgb(8, 8, 8);
    }
    
    .hdLine1-right li {
        padding: 0 5px;
    }
    
    .hdLine1-right:last-child {
        padding-right: 10px;
    }
    
    .hdLine2-left {
        display: flex;
        flex-direction: row;
        justify-self: flex-start;
        list-style: none;
        padding-left: 10px;
    }
    
    .hdLine2-left li {
        padding: 0 5px;
    }
    
    .business_opt {
        padding: 0;
        list-style: none;
    }
    
    .business_li {
        position: relative;
        display: inline-block;
    }
    
    .business_li .business_opt {
        visibility: hidden;
        width: 200px;
        position: absolute;
        z-index: 1;
        top: 20px;
        background-color: #000;
    }
    /* .business_li .business_opt::after {
  content: "";
  position: absolute;
  top: 0%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
} */
    
    .business_li:hover .business_opt {
        visibility: visible;
    }
    
    .business_opt li a {
        text-decoration: none;
        color: rgb(173, 170, 170);
        background-color: inherit;
        margin: 100px 15px;
    }
    
    .business_opt li {
        margin: 10px 10px;
    }
    
    .hdLine1-right {
        display: flex;
        flex-direction: row;
        justify-self: flex-end;
        list-style: none;
        background-color: inherit;
        padding: 5px 10px;
        align-items: center;
    }
    
    .hdLine2-right {
        justify-self: flex-end;
        list-style: none;
        background-color: inherit;
        padding: 10px 10px;
        align-items: center;
        border-left: 1px solid rgb(44, 43, 43);
        align-self: stretch;
    }
    
    .hdLine2-right a {
        transform: rotate(90deg);
    }
    
    .bckg {
        background-color: white;
        color: black;
    }
    
    .bckg a {
        text-decoration: none;
        color: black;
    }
    
    #hdLine3 {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 40px;
        /* border: 1px solid red; */
        background: #FEDE58;
    }
    
    #hdLine3 a {
        text-decoration: none;
        color: black;
        margin: 10px;
        font-size: 1em;
        font-weight: 1000px;
    }
    
    #hdLine3 a span {
        padding: 10px 10px;
    }
    
    .bellow-head {
        display: grid;
        box-sizing: border-box;
        grid-template-columns: 59% 39%;
        column-gap: 1%;
        width: 99%;
        /* height: 500px; */
        margin: 0 1%;
    }
    
    .videobox {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        height: 100%;
        background-image: url(https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/img/cover-gradient.png), url(https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/img/image-gradient.png), url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/07/Zoom-trash-hed-v2-796x419.jpg);
        background-repeat: no-repeat;
        /* background-image: linear-gradient(#DD3D38, #FDBCB4); */
        opacity: 100%;
        /* border: 1px solid red; */
        background-size: 100% 100%;
        /* background-blend-mode: lighten; */
    }
    
    .aside .videobox2 {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        height: 100%;
        background-image: url(https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/img/cover-gradient.png), url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/04/1-796x417.jpg);
        background-repeat: no-repeat;
        /* background-image: linear-gradient(#DD3D38, #FDBCB4); */
        opacity: 100%;
        /* border: 1px solid red; */
        background-size: 100% 100%;
        /* background-blend-mode: lighten; */
    }
    
    .aside .videobox3 {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        height: 100%;
        background-image: url(https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/img/cover-gradient.png), url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/04/anxiety-working-from-home-516x270.png);
        background-repeat: no-repeat;
        /* background-image: linear-gradient(#DD3D38, #FDBCB4); */
        opacity: 100%;
        /* border: 1px solid red; */
        background-size: 100% 100%;
        /* background-blend-mode: lighten; */
    }
    
    .img-wrap {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 50%;
    }
    
    .img-wrap img {
        width: 50%;
        align-self: flex-start;
        opacity: 100%;
        margin-left: 20px;
    }
    
    .img-wrap span {
        width: 40%;
        align-self: flex-end;
        opacity: 100%;
        color: white;
    }
    
    .txt-wrap {
        display: flex;
        flex-direction: column;
        margin: 0 0;
        width: 100%;
        /* height: 50%; */
        /* background-image: linear-gradient( rgb(228, 222, 222), black); */
        opacity: 100%;
    }
    
    .txt-wrap #h2 {
        width: 100%;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 2em;
        font-weight: bold;
        color: white;
        text-decoration: none;
    }
    
    .txt-wrap a {
        color: white;
    }
    
    #insights {
        text-transform: uppercase;
    }
    
    .aside {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 49% 49%;
        row-gap: 1%;
    }
    /* .bellow-head .aside {
        display: grid;
        grid-template-columns: fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 1%;
    } */
    /* .aside .videobox {
        display: grid;
        grid-template-rows: 1fr 1fr;
        width: 100%;
        height: 49%;
        row-gap: 1%;
    } */